In [35]:
import benchmark 
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

df = benchmark.main()

<class 'pandas.core.frame.DataFrame'>

In [36]:
df

              100    250    500     750     1000    1250     2500     3750
Bubble Sort  0.397  1.894  7.972  18.048  33.415  52.953  219.004  493.867
Merge Sort   0.299  0.702  1.104   2.299   2.990   3.793    7.882   12.263